:root {
    --primarycolor: #1B4F88;
    --darkenprimarycolor: #0d2744;
    --lightenprimarycolor: #2979d1;
    --bgcolor: #f1fcef;
    --lightColor: #BBDFFA;
    --YellowClr: #FED766;
    --RedClr: #FE4A49;
    --GreenClr: #84E296;
    --lightBlack: #454555;
    --lightGray: #f6f6f6;
    --textgreen: #1F363D;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --navheight: 30px;
    --headerheight: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
    overflow: auto;
}

section {
    margin: 4px auto;
    width: calc(100% - 1rem);
    overflow-y: auto;
}

.pupus{
    display: none;
}

p {
    margin-left: 1rem;
}

.mr2 {
    margin-right: 2px;
}

.ml2 {
    margin-left: 2px;
}

.m3 {
    margin: 3px;
}

.mr5 {
    margin-right: 5px;
}

.ml5 {
    margin-left: 5px;
}

.w100pc{
    width: 100%;
}

.btnStd{
    font-size: 0.8rem;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid var(--primarycolor);
    color: var(--primarycolor);;
    background: white;
    cursor: pointer;
}

.btnStd:hover{
    background: var(--primarycolor);;
    color: white;
}

button {
    border: 0px;
    border: none;
    cursor: pointer;
}

.btn {
    padding: 4px;
    border: 2px solid var(--primarycolor);
    border-radius: 6px;
    background: var(--primarycolor);
    color: white;
}

.btn:hover {
    background: white;
    color: var(--primarycolor);
}

.btnsmcircle {
    border: 2px solid var(--primarycolor);
    background: var(--primarycolor);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.btnsmcircle:hover {
    border: 2px solid orange;
    background: orange;
}


.stickyFrame{
    position: sticky;
    top: 0px;
    background: white;
}

input[type="checkbox"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 6px;
    padding: 0;
    border: 2px solid var(--primarycolor);
    appearance: none;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
    transition: outline 0.1s;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background-size: cover;
    padding: 2px;
  }
  

  input[type="checkbox"]:hover {
    background-color: var(--darkenprimarycolor);
    padding: 2px;
  }
  
  input[type="checkbox"]:not(:disabled):checked {
    border-color: var(--primarycolor);
    background-color: var(--primarycolor);
  }